<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHC Web Admin</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="og:image" content="/images/Act_logo.png" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/fonts/fontawesome/css/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="/plugins/animate/animate.css" />
    <link rel="stylesheet" href="/style/admin.css" />
</head>
<body>