<!-- footer-start -->
<footer class="black-bg" data-background="assets/img/bg/footer-p.png">
    <div class="footer-area pt-90 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">About Us</h3>
                        <p class="fotter_text mb-40">Sed ut perspiciati unde omnis iste natus error sit voluptatem
                            accusa ntium emque laudantium totam rem aperiam</p>
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Company</h3>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="pricing-plan.html">Priceing Plan</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="events-details.html">Events</a></li>
                            <li><a href="news.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget footer-col-2 mb-40">
                        <h3 class="footer-title">Services</h3>
                        <ul>
                            <li><a href="news.html">Donation</a></li>
                            <li><a href="news.html">Medical Service</a></li>
                            <li><a href="news.html">Adotion</a></li>
                            <li><a href="news.html">Chairty</a></li>
                            <li><a href="news.html">Humanity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Recent Post</h3>
                        <div class="footer-post">
                            <div class="single-footer-post">
                                <span>19 Hours Ago</span>
                                <h4><a href="news.html">Lorem ipsum is a dummy Content is read.</a></h4>
                            </div>
                            <div class="single-footer-post">
                                <span>18 Hours Ago</span>
                                <h4><a href="news.html">Content is read lorem ipsum is a dummy.</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="footer-line">
                <img src="assets/img/bg/line.png" alt="">
            </div>
            <div class="row pt-25 pb-20">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="copyright">
                        <p>Made With Love - <a href="#">fundu</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="copy-right_useful_link text-md-end">
                        <a href="contact.html">Terms &amp; Conditions</a>
                        <a href="services.html">. Services</a>
                        <a href="contact.html">. Privacy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->


<!-- JS here -->
<script src="/plugins/vendor/jquery-3.6.0.min.js"></script>
<script src="/plugins/vendor/waypoints.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/owl.carousel.min.js"></script>
<script src="/plugins/isotope.pkgd.min.js"></script>
<script src="/plugins/slick.min.js"></script>
<script src="/plugins/jquery.meanmenu.min.js"></script>
<script src="/plugins/ajax-form.js"></script>
<script src="/plugins/wow.min.js"></script>
<script src="/plugins/backtotop.js"></script>
<script src="/plugins/imagesloaded.pkgd.min.js"></script>
<script src="/plugins/jquery.magnific-popup.min.js"></script>
<script src="/scripts/plugins.js"></script>
<script src="/scripts/main.js"></script>
</body>

</html>