<%- include("../_partials/_mainheader.ejs") %>
    <main>
        <!-- page-ttle-area start  -->
        <div class="page-ttle-area text-center" data-background="/images/leaders.jpg">
            <div class="container">
                <div class="page-title">
                    <h2>Leaders</h2>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><span>leaders</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-ttle-area start -->


        <!-- team_details_area-start -->
        <div class="team_details_area pt-120 pb-120">
            <div class="container custome-container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="team_details_image w-img mb-40">
                            <img src="assets/img/team/team-d.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="team_main_info mb-40">
                            <h4 class="team_dtitle mb-10">Andy Matoke</h4>
                            <span class="team_d-degination mb-25">Pastor</span>
                            <p class="mb-30">Saved by grace, married to my dear wife Lilian, two wonderful children,
                                Mishy and Ogeto. M.A Biblical studies. Loves to see people thriving in knowing and
                                following Jesus. Involved in teaching pastors in the Kenya and the East African region.
                                Loves to see churches planted that are a haven for hope, restoration and transformation.
                            </p>
                            <div class="team_contact-info mb-40">
                                <ul>


                                    <li class="d-flex align-items-start mb-30">
                                        <div class="team_contact-icon mr-20">
                                            <i class="fas fa-envelope-open"></i>
                                        </div>
                                        <div class="team_contact-text">
                                            <a href="mailto:matoke@gmail.com">matoke@gmail.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-social_icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../_partials/_mainfooter.ejs") %>