<%- include("../_partials/_mainheader.ejs") %>

    <main>
        <!-- page-ttle-area start  -->
        <div class="page-ttle-area text-center" data-background="/images/sof.jpg">
            <div class="container">
                <div class="page-title">
                    <h2>Statement Of Faith</h2>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><span>SOF</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-ttle-area start -->
        <div class="services-area pt-120 pb-70">
            <div class="container">
                <div class="row">
                    <div class="fnservices mb-50">
                        <div class="my-4 text-center">
                            <h1>The New Hampshire Confession Of Faith (1853)</h1>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>I. Of The Scriptures</h3>
                            <p>
                                We believe that the Holy Bible was written by men divinely
                                inspired, and is a perfect treasure of heavenly instruction. It
                                has God for its author, salvation through Christ for its purpose,
                                and truth without any mixture of error for its content. It reveals
                                the principles by which God will judge us. Therefore, it is and
                                shall remain to the end of the world the true center of Christian
                                union and the supreme standard by which all human conduct, creeds,
                                and opinions should be tried.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>II. Of The True God</h3>
                            <p>
                                We believe that there is one, and only one, living and true God.
                                He is an infinite, intelligent Spirit, whose name is the LORD, the
                                Maker and Supreme Ruler of heaven and earth. He is inexpressibly
                                glorious in holiness, and worthy of all possible honor,
                                confidence, and love. In the unity of the Godhead there are three
                                persons, the Father, the Son, and the Holy Spirit. They are equal
                                in every divine perfection, yet carry out distinct but harmonious
                                offices in the great work of redemption.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>III. Of The Fall</h3>
                            <p>
                                Humanity was created in holiness, under the law of his Maker. By voluntary
                                transgression, however, humanity fell from that holy and happy state. As a result, all
                                mankind are now sinners, not by constraint but by choice. Being by nature utterly void
                                of that holiness required by the law of God, they are now positively inclined to evil.
                                Therefore, mankind stands under just condemnation to eternal ruin, without defense or
                                excuse.

                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>IV. Of The Way Of Salvation</h3>
                            <p>
                                We believe that the salvation of sinners is entirely of grace, through the mediatorial
                                offices of the Son of God, Jesus Christ our Lord. By the appointment of the Father, he
                                freely took upon himself our nature, yet without sin. He honored the divine law by his
                                personal obedience, and by his substitutionary death made a full atonement for our sins.
                                He rose from the dead, and is now enthroned in heaven. Jesus unites in his wonderful
                                person the tenderest sympathies with divine perfections and, as such, is qualified in
                                every way to be a suitable, a compassionate, and all-sufficient Savior
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>V. Of Justification</h3>
                            <p>
                                We believe that a great gospel blessing which Christ secures to those who believe in him
                                is Justification. Justification includes both the pardon of sin and the promise of
                                eternal
                                life. It is not given in consideration of any works of righteousness which we have done,
                                but only through faith in the Redeemer’s blood. By virtue of this faith his perfect
                                righteousness is freely imputed to us by God. Justification brings us, immediately at
                                the
                                time of salvation, into a state of most blessed peace and favor with God, and secures
                                every other blessing needful for time and eternity.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>VI. The Freeness Of Salvation </h3>
                            <p>
                                We believe that there is one, and only one, living and true God.
                                He is an infinite, intelligent Spirit, whose name is the LORD, the
                                Maker and Supreme Ruler of heaven and earth. He is inexpressibly
                                glorious in holiness, and worthy of all possible honor,
                                confidence, and love. In the unity of the Godhead there are three
                                persons, the Father, the Son, and the Holy Spirit. They are equal
                                in every divine perfection, yet carry out distinct but harmonious
                                offices in the great work of redemption.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>VII. Of Grace In Regeneration</h3>
                            <p>
                                We believe that in order to be saved, sinners must be regenerated, or born again; that
                                regeneration consists in giving a holy disposition to the mind; that it is effected in a
                                manner above our comprehension by the power of the Holy Spirit, in connection with
                                divine truth, so as to secure our voluntary obedience to the gospel; and that its proper
                                evidence appears in the holy fruits of repentance and faith and newness of life
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>VIII. Of Repentance and Faith </h3>
                            <p>
                                We believe that repentance and faith are sacred duties and also inseparable graces,
                                wrought in our souls by the regenerating Spirit of God; whereby being deeply convinced
                                of our guilt, danger and helplessness, and of the way of salvation by Christ, we turn to
                                God with unfeigned contrition, confession and supplication for mercy; at the same time
                                heartily receiving the Lord Jesus Christ as our Prophet, Priest and King, and relying on
                                him alone as the only and all-sufficient Saviour
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>IX. Of God’s Purpose of Grace </h3>
                            <p>
                                We believe that election is the eternal purpose of God, according to which he graciously
                                regenerates, sanctifies, and saves sinners; that being perfectly consistent with the
                                free
                                agency of man, it comprehends all the means in connection with the end; that it is a
                                most
                                glorious display of God's sovereign goodness, being infinitely free, wise, holy and
                                unchangeable; that it utterly excludes boasting, and promotes humility, love, prayer,
                                praise, trust in God, and active imitation of his free mercy; that it encourages the use
                                of
                                means in the highest degree; that it may be ascertained by its effects in all who truly
                                believe the gospel, that it is the foundation of Christian assurance; and that to
                                ascertain it
                                with regard to ourselves demands and deserves the utmost diligence
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>X. Of Sanctification</h3>
                            <p>
                                We believe that sanctification is the process by which according to the will of God, we
                                are made partakers of his holiness; that it is a progressive work; that it is begun in
                                regeneration; and that it is carried on in the hearts of believers by the presence and
                                power
                                of the Holy Spirit, the Sealer and Comforter, in the continual use of the appointed
                                meansespecially the Word of God, self-examination, self-denial, watchfulness, and
                                prayer.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XI. Of Perseverance Of The Saints </h3>
                            <p>
                                We believe that such only are real believers as endure unto the end: that their
                                persevering
                                attachment to Christ is the grand mark which distinguishes them from superficial
                                professors; that a special providence watches over their welfare, and that they are kept
                                by
                                the power of God through faith unto salvation.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XII. Of the Harmony of the Law and the Gospel </h3>
                            <p>
                                We believe that the law of God is the eternal and unchangeable rule of his moral
                                government; that it is holy, just and good; and that the inability which the scriptures
                                ascribe to fallen men to fulfill its precepts arises entirely from their love of sin; to
                                deliver
                                them from which, and to restore them through a Mediator to unfeigned obedience to the
                                holy law, is one great end of the gospel, and of the means of grace connected with the
                                establishment of the visible church.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XIII. Of A Gospel Church </h3>
                            <p>
                                We believe that a visible church of Christ is a congregation of baptized believers,
                                associated by covenant in the faith and fellowship of the gospel; observing the
                                ordinances
                                of Christ; governed by his laws; and exercising the gifts, rights, and privileges
                                invested in
                                them by his word; that its only scriptural officers are Elders (also called Pastors) and
                                deacons
                                whose qualifications, claims and duties are defined in the Epistles to Timothy and
                                Titus.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XIV. Of Baptism and the Lord’s Supper </h3>
                            <p>
                                We believe that the Christian baptism is the immersion in water of a believer, into the
                                name of the Father, and Son, and Holy Ghost; to show forth in a solemn and beautiful
                                emblem, our faith in the crucified, buried and risen Saviour, with its effect, in our
                                death
                                to sin and resurrection to a new life; that it is prerequisite to the privileges of a
                                church
                                relation, and to the Lord's Supper; in which the members of the church by the sacred use
                                of bread and wine, are to commemorate together the dying love of Christ; preceded
                                always by solemn self-examination.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XV. Of the Christian Sabbath </h3>
                            <p>
                                We believe that the first day of the week is the Lord's Day or Christian Sabbath; and it
                                is
                                to be kept sacred to religious purposes, by the devout observance of all the means of
                                grace, both private and
                                public;
                                and by preparation for the rest that remaineth for the people of God.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XVI. Of the Civil Government</h3>
                            <p>
                                We believe that civil government is of divine appointment, for the interests and good
                                order of human society,; and that magistrates are to be prayed for, conscientiously
                                honored, and obeyed; except only in things opposed to the will of our Lord Jesus Christ,
                                who is the only Lord of the conscience, and the Prince of the kings of the earth.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XVII. Of the Righteous and the Wicked </h3>
                            <p>
                                We believe that there is a radical and essential difference between the righteous and
                                the
                                wicked; that such only as through faith are justified in the name of the Lord Jesus, and
                                sanctified by the Spirit of our God, are truly righteous in his esteem; while all such
                                as
                                continue in impenitence and unbelief are in his sight wicked, and under the curse; and
                                this distinction holds among men both in and after death.
                            </p>
                        </div>
                        <div class="fnservices__content-details fnservices__content my-2">
                            <h3>XVIII. Of the World to Come </h3>
                            <p>
                                We believe that the end of the world is approaching; that at the Last Day Christ will
                                descend from heaven, and raise the dead from the grave to final retribution; that a
                                solemn
                                separation will then take place; that the wicked will be adjudged to endless punishment,
                                and the righteous to endless joy; and that this judgment will fix forever the final
                                state of
                                men in heaven or hell, on principles of righteousness.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../_partials/_mainfooter.ejs") %>